<h1>Welcome Dashboard</h1>
<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'btn btn-primary' do %>Sign in<% end %>
<% else %>
    <p>You are connected with <%= current_user.email %></p>
	<%= link_to app_dashboard_data_path, class: 'btn btn-primary' do %>Go to Export CSV<% end %>
	<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>
